@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
body, h1, h2, h3, p{
    text-align: center;
}
body{
    background-image: url(scr/img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    margin: 5px;
}
a:hover{
    opacity: 0.7;
}
h2{
    margin: 10px;
}
.logo img {
    height: 80px;
    width: auto;
    display: block;
    margin-left: 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 30px;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin: 10px;
}
.nav-list a {
  display: block;
  padding: 12px 16px;
}

main{
    background-color: #1f3049;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 75px;
    margin-right: 75px;
    padding: 30px;
    border-radius: 3px;
    color: white;
}
footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 10px;
}
table{
  margin-left: auto;
    margin-right: auto;
}
td {
    text-align: center;
    vertical-align: middle;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 200px;
    border: none;
    cursor: pointer;
    margin: 15px;
    font-size: 20px;
}
.afternoon{
    background-color: orange;
}
.crunchyroll{
    background-color: orangered;
}
.netflix{
    background-color: red;
}
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
}