@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
}
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.logo{
    height: 80px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 16vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
main{
    background: gray;
    height: vh;
    padding-top: 15px;
}
footer{
    padding-top: 10px;
}